<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.sensor.proximity"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/main_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/main_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SinhalaBookReader"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Activities.PlayAudioActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.PreviewImageActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ObjectDetectionActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CameraActivity"
            android:exported="false"
            android:keepScreenOn="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:keepScreenOn="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".SpeechRecognitionService"
            android:enabled="false"
            android:exported="false" />
    </application>

</manifest>